.ynw-compared {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.ynw-compared-header {
  height: 44px;
  display: flex;
  align-items: center;
}
.ynw-compared-header-mid {
  flex: 3;
  text-align: center;
}

.ynw-compared-header-left,
.ynw-compared-header-right {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.ynw-compared .iconfont {
  font-size: 22px;
}

.ynw-compared-nav {
  border-bottom: 10px solid #eee;
}

.ynw-compared-nav-title {
  border-bottom: 1px solid #2873ff;
  color: #2873ff;
  text-align: center;
  font-size: 18px;
}

.ynw-compared-console {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 84px;
  vertical-align: middle;
}

.ynw-compared-console .console-left {
  display: table-cell;
  width: 84px;
  vertical-align: middle;
  font-size: 12px;
  color: #333;
  text-align: center;
}

.ynw-compared-console .console-main {
  display: flex;
  overflow: auto;
}
.ynw-compared-console .console-main::-webkit-scrollbar{
  display: none;
}

.ynw-compared-console .card-item {
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(27,27,27,.1);
    padding: 6px;
    margin:6px 4px;
    min-width: 100px;
    position: relative;
}
.ynw-compared-console .empty-plus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ynw-compared-console .empty-plus .iconfont{
  font-size: 30px;
  color: #ccc;
}

.ynw-compared-console .card-item .title {
  font-size: 12px;
  font-weight: 700;
  color: #333;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 6px;
}

.ynw-compared-console .card-item .price {
  margin: 0;
  font-size: 14px;
  color: #f9712c;
}


.ynw-compared-console .card-item .icon-bianji {
    font-size: 16px;
    color: #666;
    float: right;
    margin-top: 4px;
}

.ynw-compared-console .card-item  .icon-guanbi{
    position: absolute;
    top: -12px;
    right: -8px;
    color: #666;
}


.ynw-compared-container{
  flex: 1;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
.ynw-compared-content{
  flex: 1;
  overflow: auto;
}

.ynw-compared-category {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  align-items: center;
  border-top: 1px solid #eee;
  line-height: 40px;
}

.ynw-compared-category .caption {
  width: 90px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
}

.ynw-compared-category .direction .mark-bp {
  display: inline-block;
  width: 8px;
  height: 8px;
  line-height: 0;
  background-color: #666;
  border-radius: 50%;
  margin: 0 6px;
}

.ynw-compared-category .direction .mark-xp {
  display: inline-block;
  width: 8px;
  height: 8px;
  line-height: 0;
  border: 1px solid #666;
  border-radius: 50%;
  margin: 0 6px;
}

.ynw-compared-category .direction .mark-wu {
  display: inline-block;
  width: 10px;
  height: 1px;
  vertical-align: middle;
  background-color: #666;
  margin: 0 6px;
}

.ynw-compared-details{
  display: table;
  table-layout: fixed;
  width: 100%;
}
.ynw-compared-details .differ-left{
  width: 84px;
  background-color: #f8f8f8;
  color: #666;
  display: table-cell;
}
.ynw-compared-details .differ-left .differ-left-item{
  padding:8px 6px;
  position: relative;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  vertical-align: middle;
  min-height: 40px;
  border-bottom:1px solid #e6e6e6;
}
.ynw-compared-details .differ-left .differ-left-item a{
  color: #666665;
  text-decoration: underline
}


.ynw-compared-details .differ-main{
  position: relative;
  display: table-cell;
  vertical-align: top;
  overflow: auto;
}
.ynw-compared-details .differ-main::-webkit-scrollbar{
  display: none;
}
.ynw-compared-details .differ-main .differ-main-item{
  display: table;
  min-height: 40px;
  border-bottom:1px solid #e6e6e6;
}
.ynw-compared-details .differ-main .differ-main-item:first-child{
  border-top: 1px solid #e6e6e6;
}

.ynw-compared-details .differ-main .differ-main-item .inner {
  position: relative;
  display: table-cell;
  box-sizing: border-box;
  min-width: 110px;
  padding: 4px 4px 4px 10px;
  font-size: 12px;
  color: #666;
  border-right: 1px solid #e6e6e6;
  vertical-align: middle;
  line-height: 16px;
  background-color: rgba(40,115,255,.1);
}
.ynw-compared-details .differ-main .differ-main-item .empty{
  background-color: #fff;
}