.ynw-configureInfo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.ynw-configureInfo-header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.ynw-configureInfo-header-left {
  flex: 1;
}
.ynw-configureInfo-header-left .icon-houtui {
  font-size: 20px;
}

.ynw-configureInfo-header-right {
  flex: 1;
  color: #5f6670;
}
.ynw-configureInfo-header-mid {
  flex: 3;
}
.ynw-configureInfo-header-mid .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #303741;
}
.ynw-configureInfo-header-mid .header-title-item {
  color: #303741;
  font-weight: 500;
  padding: 0 10px;
}

.ynw-configureInfo-header-mid .header-title .bottom-active {
  width: 16px;
  height: 4px;
  margin-left: 50%;
  background: #19ac81;
  border-radius: 2px;
  transform: translateX(-50%);
}
.ynw-configureInfo-header-mid .tab-Name {
  position: relative;
  opacity: 0.7;
}
.ynw-configureInfo-header-mid .titleActive {
  color: #252525;
  font-weight: 800;
  font-size: 18px;
  opacity: 1;
}

.ynw-configureInfo-tip {
  font-size: 12px;
  color: #8f96a0;
  padding: 4px 10px;
  line-height: 20px;
  background-color: #f5f7fa;
}

.ynw-configureInfo-container {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.ynw-configureInfo-container .list-group {
  width: 100px;
  overflow: auto;
  border: 1px solid #f5f7fa;
}

.ynw-configureInfo-container .list-group .list-group-item {
  background-color: #f5f7fa;
  border: none;
  padding: 10px;
  font-size: 12px;
}

.ynw-configureInfo-container .list-group-item.active {
  color: #19ac81;
  background-color: #fff;
}

.ynw-configureInfo-container .list-group-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 4px;
  height: 16px;
  transform: translateY(-50%);
  background-color: #19ac81;
}

.ynw-configureInfo-container .scrollspy-content {
  flex: 1;
  overflow: auto;
  padding-right: 4px;
  padding-left: 10px;
}
.ynw-configureInfo-container .record-item .record-item-title{
  color: #303741;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 8px 0;
}

.ynw-configureInfo-container .record-item  .point-standard{
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  line-height: 10px;
  border-radius: 50%;
  background: #5f6670;
  display: inline-block;
}
.ynw-configureInfo-container .record-item .point-config{
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  line-height: 10px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #5f6670;
}
.ynw-configureInfo-container .record-item .record-item-body {
  border: 1px solid #bec5cf;
  margin-bottom: 0;
}
.ynw-configureInfo-container .record-item-body-row{
  display: flex;
  padding: 16px 14px;
  font-size: 12px;
  background-color: #fff;
}
.ynw-configureInfo-container .record-item-body-row:nth-child(2n){
  background-color: rgba(25,172,129,.05);
}

.ynw-configureInfo-container .record-item-body-title {
  width: 160px;
  color: #8f96a0;
}
.ynw-configureInfo-container .record-item-body-content{
  color: #000;
  word-break: break-word;
}


.ynw-configureInfo-container record-item-body-content .point-blod{
  width: 16px;
  height: 16px;
}

